#header {
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.header-img {
    height: 70%;
    margin-left: 10%;
}
